<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="banner2">

</div>
<div class="banner">
      <div class="navbar">
        <ul style="position: absolute; right: 40px; top : 50px">
          <li> <a>Home</a></li>
          <li routerLink="/signup"> <a>Sign Up</a></li>
          <li routerLink="/login"> <a>Login</a></li>
          <li (click)="move(930)"> <a>Results</a></li>
          <li (click)="move(1900)"> <a>About us</a></li>

        </ul>
      </div>
      <div class="content">
        <h1> BOOKING ROUTE</h1>
        <p> Take advantage of transport made available by reliable companies <br>and ship all over the world!</p>

        <div>
          <button class="button" routerLink="/login" ><span></span>LOGIN</button>
          <button class="button" routerLink="/signup"><span></span>SIGN UP</button>

        </div>
      </div>
</div>
<section class="section services-section" id="services">

    <div class="container" style="margin-left:8%;">
      <mat-card class="andrea-card" >
        <div class="row" style="  margin-top : 50px">
            <div class="col-lg-6">
                <div class="section-title" style="margin-left : 100px">
                    <h2>Our Results</h2>
                    <p>Route 24/7 has improved the profits of many logistics companies, and our customers are satisfied with the services offered.</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 75px;">
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4" >
                <div class="feature-box-1">

                  <div class="row">
                    <div class="col">
                    <div class="icon">
                        <i class="fa fa-money" style="font-size: larger;"></i>
                    </div>
                  </div>
                  <div class="col">
                    <strong><h1 style="color:#009688; font-size: 40px; margin-top: 20px;">95%</h1></strong>
                  </div>
                  </div>

                    <div class="feature-content">
                        <h5>Save the empty return</h5>
                        <p>95% of the empty returns uploaded to our site have been rented by our customers</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                  <div class="row">
                    <div class="col">
                    <div class="icon">
                        <i class="fa fa-users" style="font-size: larger;"></i>
                    </div>
                  </div>
                  <div class="col">
                    <strong> <h1 style="color:#009688; font-size: 40px;margin-top: 20px;">{{nCompanies}}</h1></strong>
                  </div>
                  </div>
                    <div class="feature-content">
                        <h5>Affiliated companies</h5>
                        <p>{{nCompanies}} companies have joined our services. Amazon, Ups, Bartolini just to name a few.Don't wait any longer to sign up!</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                  <div class="row">
                    <div class="col">
                    <div class="icon">
                        <i class="fa fa-archive" style="font-size: larger;"></i>
                    </div>
                  </div>
                  <div class="col">
                    <strong><h1 style="color:#009688; font-size: 40px; margin-top: 20px;">{{totKg}} Kg</h1></strong>
                  </div>
                  </div>
                    <div class="feature-content">
                        <h5>Large transports</h5>
                        <p>{{totKg}} Kg of packages transported all over the world.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                  <div class="row">
                    <div class="col">
                    <div class="icon">
                        <i class="fa fa-globe" style="font-size: larger;"></i>
                    </div>
                  </div>
                  <div class="col">
                    <strong><h1 style="color:#009688; font-size: 40px; margin-top: 20px;"> 150+</h1></strong>
                  </div>
                  </div>
                    <div class="feature-content">
                        <h5>World presence</h5>
                        <p>We ship in more than 150 countries across the globe</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                  <div class="row">
                    <div class="col">
                    <div class="icon">
                        <i class="fa fa-globe" style="font-size: larger;"></i>
                    </div>
                  </div>
                  <div class="col">
                    <strong><h1 style="color:#009688; font-size: 40px; margin-top: 20px;"> 25%+</h1></strong>
                  </div>
                  </div>
                    <div class="feature-content">
                        <h5>Space saved</h5>
                        <p>Average space recovered for each vehicle that otherwise would have been gainless</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Advanced Options</h5>
                        <p>We design and develop services for customers of all sizes, specializing in creating stylish, modern websites.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
      </mat-card>
      </div>
</section>

<div class="container" style="margin-left:8%">
  <mat-card class="andrea-card2">
  <div class="row justify-content-center text-center">
      <div class="col-lg-12" style="margin-top: 30px;">
          <h2  style="color : #009688; font-size: 50px; font-weight: bold;">How It Works?</h2>
          <p class="text-muted mt-4 title-subtitle mx-auto">The service is free and always will be!</p>
      </div>
  </div>
  <div class="timeline-page mt-5">
      <div class="timeline-item">
          <div class="row">
              <div class="col-lg-6">
                  <div class="duration date-label-left">
                      <img src="https://themesdesign.in/landsay/images/how-it-1.png" alt="" class="img-fluid">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="works works-description-right">
                      <h4 style="color: #009688; font-size: 30px;font-weight: bold;">A Company publish an offer </h4>
                      <p class="timeline-subtitle rigth">The offer consists of a trip already planned by the company that is made available on our platform and details all the routes in which the vehicle made available passes (specifying the times, weight to be delivered, booking limits, etc.)</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="timeline-item" >
          <div class="row" >
              <div class="col-lg-6" >
                  <div class="works works-description-left" >
                      <h4 style="color: #009688; font-size: 30px;font-weight: bold;">Users search for routes</h4>
                      <p class="timeline-subtitle left">Our intelligent system processes the user's requests by tracking what could be the most suitable offers for him. Once the reservation has been made, if allowed by the contractor, the renter can cancel the reservation within the established time limits</p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="duration duration-right ">
                  <img src="https://themesdesign.in/landsay/images/how-it-3.png" alt="" class="img-fluid">
                  </div>
              </div>
          </div>
      </div>
      <div class="timeline-item">
          <div class="row">
              <div class="col-lg-6">
                  <div class="duration date-label-left">
                    <img src="https://themesdesign.in/landsay/images/how-it-2.png" alt="" class="img-fluid">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="works works-description-right">
                      <h4 style="color: #009688; font-size: 30px;font-weight: bold;">Automatization</h4>
                      <p class="timeline-subtitle rigth">Updates of all availability are managed automatically by the system. In addition, a powerful analytics service is provided to view the trends of your data, obtaining valuable information.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</mat-card>
</div>

