.register{
  background-color:#0062cc;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh !important;
  background-position: center;
  font-family: 'Numans', sans-serif;

}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;

  animation: mover 1s infinite  alternate;
}

.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}

.register{

  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.75)),
  url('https://wallpaperaccess.com/full/136008.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
}

.all{
  background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.95));
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.4, 1.14, 0.0, 1.125) forwards;


}
input{
  background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.25));

}
.bornDate{
  background-color: #fff;
}

.banner{
  width: 100%;
  height: 15vh;

}

.navbar{
  width: 85%;
  margin : auto;
  padding : 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar ul li{
  list-style: none;
  display : inline-block;
  margin: 0 20px;
  position: relative;

}

.navbar ul li a{
  text-decoration: none;
  color : #fff;
  text-transform: uppercase;
  cursor: pointer;

}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -15px;
  transition: 0.2s;

}

.navbar ul li:hover::after{
  width: 100%;

}


@keyframes animatop {
  0% {
      opacity: 0;
      bottom: 0px;
  }
  100% {
      opacity: 1;
      bottom: 0px;
  }
}
