

body{
  width: 100% !important;
  height: 100vh ;
  background-image: linear-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.75)),
  url('https://wallpaperaccess.com/full/136008.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  font-family: 'Numans', sans-serif;



  }
  .rounded{
    border-radius: 20%;
  }

  .container{
  height: 100%;
  align-content: center;
  }

  .card{

  margin-top: 0.2%;
  margin-bottom: auto;
  width: 450px;
  background-color: rgba(0,0,0,0.5) !important;
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.0, 1.125) forwards;
  }

  .social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #009688;
  }

  .social_icon span:hover{
  color: white;
  cursor: pointer;
  }

  .card-header h3{
  color: white;
  padding-left: 8%;
  }

  .social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
  }

  .input-group-prepend span{
  width: 50px;
  background-color: #009688;
  color: black;
  border:0 !important;
  }

  .card *{
    border-radius: 1.5rem;

  }

  .card{
    border-radius: 1.5rem;
  }

  input{
    border-radius: 1.5rem;
    background-image: linear-gradient(rgba(0,0,0,0.10), rgba(0,0,0,0.10));

  }

  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;

  }

  .remember{
  color: white;
  }

  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }

  .login_btn{
  color: black;
  background-color: #009688;
  width: 100px;
  }

  .login_btn:hover{
  color: black;
  background-color: white;
  }

  .links{
  color: white;
  }

  .links a{
  margin-left: 4px;
  }
  .btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
  }


.banner{
  width: 100%;
}

.navbar{
  width: 85%;
  margin : auto;
  padding : 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar ul li{
  list-style: none;
  display : inline-block;
  margin: 0 20px;
  position: relative;

}

.navbar ul li a{
  text-decoration: none;
  color : #fff;
  text-transform: uppercase;
  cursor: pointer;

}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -15px;
  transition: 0.2s;

}

.navbar ul li:hover::after{
  width: 100%;

}
.button{
  width : 200px;
  padding : 15px 0;
  text-align: center;
  margin : 20px 10px;
  border-radius: 1.5rem;
  font-weight: bold;
  border : 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  margin-left: 100px;
  transition: 0.5s;
}

.button:hover{
  background-color:#009688 ;
}




/* style inputs and link buttons */
input,
.btn {
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

.social{
  margin: 5px 0;
}

.divider{
  border : 1px solid #fff;
  position: relative;
  top : -33px;
  z-index: -2;
}




@keyframes animatop {
  0% {
      opacity: 0;
      bottom: 0px;
  }
  100% {
      opacity: 1;
      bottom: 0px;
  }
}
