<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

<div class="sf">
<div class="container bootstrap snippets bootdey">
  <div  style="padding-left: 92%  ; padding-bottom: 10px;">
    <br>
    <button class="btn btn-danger "type="button" style="border-radius: 1.5rem;" (click)="loadNewOffer();"
    >
    <i class="fas fa-plus-circle"  ></i>
    Add new Offer</button>
  </div>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  <div *ngIf="addMenu">
    <br>
    <br>
    <br>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container" style="width: 2000px; display: flex;;" >
  <div class="row flex-lg-nowrap" >
    <div class="col-12 col-lg-auto mb-3" style="width: 200px;">

    </div>

    <div class="col" >
      <div class="row" >
        <div class="col mb-3"  style="background-color: rgb(236, 238, 250); border-radius: 1.5rem;" >
            <div class="card-body">
              <div class="e-profile">

                <div class="widget-header bordered-top bordered-sky" style="background-color:#044459; border-radius: 1.5rem;" >
                  <!--     1 TRIP INFO   -->
                  <span class="widget-caption" style="color: white;"> 1. Trip info</span>
              </div>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                    <form #offerForm="ngForm" (ngSubmit)="addNewOffer()" class="form" novalidate="">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">

                                                <!--     STARTING CITY   -->

                                <label style="color: #044459"> Starting City: <label style="color:red">*</label></label>
                                <span class="input-icon">

                                  <input class="form-control" required [matAutocomplete]="start" (input)="getItems($event)" type="text" name="name" placeholder="Vehicle starting city" style="width: 250px;"
                                  #startingCity = 'ngModel'
                                  name="startingCity"
                                  [ngClass]="{'is-invalid': !startingCity.valid && startingCity.touched}"
                                  [ngClass]="{'is-valid': startingCity.valid}"
                                  [(ngModel)]="newOffer.startingCity"
                                  >
                                  <i class="fa fa-search success circular"></i>
                                  <div class="valid-feedback" *ngIf="treatsCity[0] == newOffer.startingCity" style="color: rgb(210, 6, 6);">
                                    <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>

                                    City conflict
                                  </div>

                                  <div class="invalid-feedback">
                                    <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>

                                    Start city is required
                                  </div>
                                  <div class="valid-feedback" [hidden]="treatsCity[0] == newOffer.startingCity">
                                    <i class="fas fa-check" style="color: rgb(34, 201, 34);"></i>

                                    Ok!
                                  </div>
                                  <mat-autocomplete #start="matAutocomplete">
                                    <mat-option *ngFor="let city of cities  | searchFilter :query" [value]="city">
                                      {{city}}
                                    </mat-option>

                                  </mat-autocomplete>

                                </span>

                              </div>
                            </div>
                            <div class="col">

                                              <!--     start city time   -->

                              <div class="row">
                                <div class="col">
                                  <div class="form-group" >
                                    <label style="color: #044459"><strong>{{newOffer.startingCity}}</strong> Start Time: <label style="color:red">* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></label>
                                    <div *ngIf="newOffer.startDate != undefined">
                                    </div>

                                    <mat-form-field appearance="fill" style="width: 150px;">
                                      <mat-label style="font-size: 12px;">Choose date</mat-label>
                                      <input  matInput required  [matDatepicker]="picker"
                                      #startDate="ngModel"
                                      name="startDate"
                                      [(ngModel)]="newOffer.startDate">

                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>

                                    &nbsp;&nbsp;&nbsp;
                                      <input style="width: 60px;" required placeholder="hh:mm" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24"
                                      #startTime="ngModel"
                                      name="startTime"
                                      [(ngModel)]="newOffer.startTime">

                                      <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>




                          <!-- TREATS -->


                          <div class="card" style="background-color:  rgb(236, 238, 250); border-radius: 1.5rem;">

                           <ul *ngIf="treatsCity.length > 0">

                            <li *ngFor="let city of treatsCity; let myIndex = index; trackBy:customTrackBy" >

                            <div class="row">
                              <i class="fas fa-minus-circle" style="color: rgb(210, 6, 6); font-size: 25px;cursor: pointer; position: relative; left: -5px;"(click)="removeTreats(myIndex)" ></i>


                              <div class="col">

                            <div class="form-group" >

                            <label style="color: #044459">Treats City {{myIndex + 1}}:</label>
                            <span class="input-icon">

                              <input class="form-control"  [matAutocomplete]="treats10" (input)="getItems($event)" type="text" placeholder="City" style="width: 205px;"
                              name="treatsCity[myIndex]"
                              [ngClass]="{'is-valid': treatsCity[myIndex] == treatsCity[myIndex - 1]}"
                              [(ngModel)]="treatsCity[myIndex]"
                              >

                              <div class="valid-feedback" *ngIf="treatsCity[myIndex] == treatsCity[myIndex - 1]" style="color: rgb(210, 6, 6);">
                                <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>

                                City conflict
                              </div>
                              <i class="fa fa-search success circular"></i>
                              <mat-autocomplete #treats10="matAutocomplete">
                                <mat-option *ngFor="let city of cities  | searchFilter :query" [value]="city">
                                  {{city}}
                                </mat-option>

                              </mat-autocomplete>

                            </span>


                          </div>


                          <div class="form-group">
                          <label  style="color: #044459;" >Weight of the load to be delivered:  &nbsp;</label>
                          <br>
                          <input required placeholder="0"
                            style="width : 50px"
                            pattern="^[0-9]*$"
                            name="partialLoads[myIndex]"
                            [(ngModel)]="partialLoads[myIndex]"
                          > Kg
                        </div>
                      </div> <!--fine colonna-->


                        <div class="col">
                            <div class="form-group" *ngIf="myIndex > 0">
                              <label style="color: #044459"><strong>{{myIndex != 0 ?  treatsCity[myIndex - 1] : newOffer.startingCity }}</strong> Start Time:</label>
                              <br>
                              <mat-form-field appearance="fill" style="width: 150px;">
                                <mat-label style="font-size: 12px;">Choose date</mat-label>
                                <input  matInput required  [matDatepicker]="pickerDate"
                                name="startDates[myIndex - 1 ]"
                                [(ngModel)]="startDates[myIndex - 1]">
                                <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDate></mat-datepicker>
                              </mat-form-field>

                              &nbsp;
                                <input style="width: 60px;" placeholder="hh:mm" aria-label="24hr format" [ngxTimepicker]="fullTime3" [format]="24"

                                name="startTimes[myIndex - 1]"
                                [(ngModel)]="startTimes[myIndex - 1]">
                                <ngx-material-timepicker #fullTime3></ngx-material-timepicker>
                            </div>
                            <div class="form-group">
                              <label style="color: #044459"><strong >{{treatsCity[myIndex]}}</strong> Delivery Time:</label>
                              <br>
                              <mat-form-field appearance="fill" style="width: 150px;">
                                <mat-label style="font-size: 12px;">Choose date</mat-label>
                                <input  matInput required  [matDatepicker]="picker4"
                                name="endDates[myIndex]"
                                [(ngModel)]="endDates[myIndex]">
                                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                              </mat-form-field>

                              &nbsp;
                                <input style="width: 60px;" placeholder="hh:mm" aria-label="24hr format" [ngxTimepicker]="fullTime4" [format]="24"
                                name="endTimes[myIndex]"
                                [(ngModel)]="endTimes[myIndex]">
                                <ngx-material-timepicker #fullTime4></ngx-material-timepicker>
                            </div>
                        </div>
                      </div>
                      </li>

                        </ul>
                      </div>


                      <br>
                        <i class="fas fa-plus-circle" style="color: #044459; font-size: 40px;cursor: pointer;"(click)="addTreats()" ></i> &nbsp;&nbsp; <label style="color: #044459; font-size: 18px; font-weight: bold; position: relative; top: -10px;">Add a treats</label>

                                                <!-- end TREATS -->


                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label style="color: #044459">Final City: <label style="color:red">*</label></label>
                                <span class="input-icon ">

                                  <input class="form-control" required [matAutocomplete]="end"  (input)="getItems($event)" type="text" name="username" placeholder="City where the vector is left" style="width: 250px;"
                                  #endingCity = 'ngModel'
                                  name="endingCity"
                                  [ngClass]="{'is-invalid': !endingCity.valid && (endingCity.touched)}"
                                  [ngClass]="{'is-valid': endingCity.valid}"
                                  [(ngModel)]="newOffer.endingCity">
                                  <i class="fa fa-search success circular"></i>
                                  <div class="invalid-feedback" [hidden]="!endingCity.errors?.required">
                                    <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>

                                    End city is required
                                  </div>
                                  <div class="valid-feedback" *ngIf="newOffer.startingCity == newOffer.endingCity" style="color: rgb(210, 6, 6);">
                                    <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>

                                    End city cannot be the same of start
                                  </div>
                                  <div class="valid-feedback" *ngIf="treatsCity[treatsCity.length-1] == newOffer.endingCity" style="color: rgb(210, 6, 6);">
                                    <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>

                                    City conflict : same city for the start and the end of a treats

                                  </div>
                                  <div class="valid-feedback" [hidden]="newOffer.startingCity == newOffer.endingCity || treatsCity[treatsCity.length-1] == newOffer.endingCity">
                                    <i class="fas fa-check" style="color: rgb(34, 201, 34);"></i>

                                    Ok!
                                  </div>
                                  <mat-autocomplete #end="matAutocomplete">
                                    <mat-option *ngFor="let city of cities| searchFilter :query" [value]="city">
                                      {{city}}
                                    </mat-option>

                                  </mat-autocomplete>
                                </span>

                              </div>
                              </div>

                            <div class="col">
                              <div class="form-group" *ngIf="treatsCity.length > 0">
                                <label style="color: #044459"><strong >{{treatsCity[treatsCity.length - 1]}}</strong> Starting Time:</label>
                                <br>
                                <mat-form-field appearance="fill" style="width: 150px;">
                                  <mat-label style="font-size: 12px;">Choose date</mat-label>
                                  <input  matInput required  [matDatepicker]="picker6"
                                  name="startDates[treatsCity.length - 1]"
                                  [(ngModel)]="startDates[treatsCity.length - 1]">
                                  <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                  <mat-datepicker #picker6></mat-datepicker>
                                </mat-form-field>

                                &nbsp;
                                  <input style="width: 60px;" placeholder="hh:mm" aria-label="24hr format" [ngxTimepicker]="fullTime6" [format]="24"
                                  name="startTimes[myIndex]"
                                  [(ngModel)]="startTimes[treatsCity.length - 1]">
                                  <ngx-material-timepicker #fullTime6></ngx-material-timepicker>
                              </div>

                              <div class="form-group" >
                                <label  style="color: #044459"><strong>{{newOffer.endingCity}}</strong> Delivery Time: <label style="color:red">*  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></label>
                                <mat-form-field appearance="fill" style="width: 150px;">
                                  <mat-label  style="font-size: 12px;">Choose date</mat-label>
                                  <input  matInput required  [matDatepicker]="picker2"
                                  #endDate="ngModel"
                                  name="endDate"
                                  [ngClass]="{'is-invalid': (!endDate.touched && newOffer.endDate < newOffer.startDate)}"
                                  [(ngModel)]="newOffer.endDate">


                                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                  <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>


                                &nbsp;&nbsp;&nbsp;
                                <input style="width: 60px;" required placeholder="hh:mm" aria-label="24hr format" [ngxTimepicker]="fullTime2" [format]="24"
                                #endTime="ngModel"
                                name="endTime"
                                [(ngModel)]="newOffer.endTime">
                                <ngx-material-timepicker #fullTime2></ngx-material-timepicker>

                                <div *ngIf="newOffer.endDate < newOffer.startDate" style="color: rgb(210, 6, 6);">
                                  <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>

                                  Initial Date is subsequent to the final one

                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label  style="color: #044459">Weight of the initial load: <label style="color:red;">*  &nbsp;</label></label>
                            <input type="text" required placeholder="0"
                              #initialLoad="ngModel"
                              name="initialLoad"
                              style="width : 50px"
                              pattern="^[0-9]*$"
                              [ngClass]="{'is-invalid': (!initialLoad.valid && initialLoad.touched)}"
                              [ngClass]="{'is-valid': initialLoad.valid}"
                              [(ngModel)]="newOffer.initialLoad"
                              >
                               Kg
                               <label *ngIf="newOffer.vector != undefined" style="color: rgb(210, 6, 6); font-size: 10px;">
                                 <div *ngIf="newOffer.initialLoad > newOffer.vector.capacity">
                                  &nbsp; &nbsp;  <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>
                                Initial Load is greater than vector's capacity
                              </div>
                              </label>
                          </div>


                          <div class="widget-header bordered-top bordered-sky" style="background-color:#044459; border-radius: 1.5rem;" >
                            <span class="widget-caption" style="color: white;"> 2. Vector</span>
                        </div>
                        <br>

                          <div class="row">
                            <div class="col mb-3">
                              <div class="form-group">
                                <label  style="color: #044459">Select from your vectors: <label style="color:red">* </label></label>

                                <div class="col-sm-10">
                                  <select  class="form-select" required (ngModelChange)="onChange($event)"
                                  #vector="ngModel"
                                  name="name"
                                  [(ngModel)]="selectedVector">
                                    <option selected="">Select from your vectors</option>
                                    <option *ngFor="let vector of myVectors" >{{vector.name}} {{vector.licensePlate}}</option>
                                  </select>
                                  <br>
                                  <label style="position: relative;left: 10px;" class="newVectorLink"
                                    style="cursor: pointer;color: #4374e0;"
                                    routerLink="/myVectors/{{loggedUser.id}}"
                                  > or add a new one</label>
                                </div>
                              </div>


                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12  mb-2" *ngIf="newOffer.vector != null">
                          <div class="mb-2" style="color : #044459"><b>Vector Info</b>
                            <button  *ngIf="newOffer.vector != null"
                            (click)="removeVector()"
                              style="position: absolute;right: 17px; font-size: 10px; border-radius: 1.5rem;" class="btn btn-outline-danger"
                              type="button">Remove selected vector &nbsp;<i class="far fa-times-circle"></i>
                            </button></div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Brand</label>
                                <input class="form-control" disabled type="text" value="{{newOffer.vector.brand}}">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>License Plate</label>
                                <input class="form-control" disabled type="text" value="{{newOffer.vector.licensePlate}}">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label> <span class="d-none d-xl-inline">Capacity</span></label>
                                <input class="form-control" disabled type="text" value="{{newOffer.vector.capacity}}"></div>
                            </div>
                          </div>
                          <div class="row">
                              <div class="form-group">
                                <label *ngIf="newOffer.vector.frozenProduct"> <span class="d-none d-xl-inline text-success">
                                  <i class="fas fa-check"></i>
                                  The vector can carry frozen products
                                </span></label>
                                <br>
                                <label *ngIf="newOffer.vector.biomedicalProducts"> <span class="d-none d-xl-inline text-success">
                                  <i class="fas fa-check" ></i>
                                  The vector can carry biomedical products
                                </span></label>
                              </div>
                          </div>
                        </div>

                      </div>

                      <!-- PREZZO -->
                      <div class="widget-header bordered-top bordered-sky" style="background-color:#044459;  border-radius: 1.5rem;" >
                        <span class="widget-caption" style="color: white;"> 3. Price  $ / Km</span>
                    </div>


                      <br>

                      <label  style="color: #044459">Enter the cost of the trip ($/km): <label style="color:red">* </label></label>
                      <div class="form-group" style="width: 250px;">
                        <div class="input-group input-group-xl">
                            <span class="input-group-addon">$ / km</span>
                            <input type="text" required class="form-control" name="costoPerKm" placeholder="0.10"
                            #costoPerKm = 'ngModel'
                            name="costoPerKm"
                            pattern="^[0-9.]*$"
                            [ngClass]="{'is-invalid': !costoPerKm.valid && costoPerKm.touched}"
                            [ngClass]="{'is-valid': costoPerKm.valid}"
                            [(ngModel)]="newOffer.costoPerKm"
                            >
                            <div class="invalid-feedback" [hidden]="!costoPerKm.errors?.required">
                              <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>
                              Price is required
                            </div>
                            <div class="invalid-feedback" [hidden]="!costoPerKm.errors?.pattern">
                              <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>
                              Only number accepted
                            </div>
                            <div class="valid-feedback">
                              <i class="fas fa-check" style="color: rgb(34, 201, 34);"></i>
                              Ok!
                            </div>

                        </div>
                    </div>


                    <!-- FINE PREZZO-->
                    <br>
                        <!-- DATA RECESSO -->
                        <div class="widget-header bordered-top bordered-sky" style="background-color:#044459;  border-radius: 1.5rem;" >
                          <span class="widget-caption" style="color: white;"> 4. Maximum withdrawal and prenotation date range</span>
                      </div>


                        <br>



                      <label  style="color: #044459">Select the maximum limit to book an offer for a renter: <label style="color:red">* </label></label>
                        <div class="form-group" style="width: 250px;">
                          <div class="input-group input-group-xl">
                            <div class="input-group mb-3">
                              <select class="form-select" required
                              #maximumBookingDate="ngModel"
                              name="maximumBookingDate"
                              [(ngModel)]="newOffer.maximumBookingDate"
                              [ngClass]="{'is-invalid': newOffer.maximumBookingDate=='' || (!maximumBookingDate.valid && maximumBookingDate.touched)}"
                              [ngClass]="{'is-valid': maximumBookingDate.valid}"
                              >
                                <option selected value="Choose...">Choose...</option>
                                <option value="1 hour">1 hour</option>
                                <option value="2 hours">2 hours</option>
                                <option value="6 hours">6 hours</option>
                                <option value="12 hours">12 hours</option>
                                <option value="1 day">1 day</option>
                                <option value="2 days">2 days</option>
                                <option value="3 days">3 days</option>
                                <option value="5 days">5 days</option>
                                <option value="10 days">10 days</option>

                              </select>
                              <div class="invalid-feedback" [hidden]="!maximumBookingDate.errors?.required">
                                <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>
                                Maximum Booking Date is required
                              </div>
                              <div class="valid-feedback">
                                <i class="fas fa-check" style="color: rgb(34, 201, 34);"></i>
                                Ok!
                              </div>
                            </div>



                          </div>
                      </div>

                    <div style="position: relative; top: -20px">
                      <label  style="color: #044459">  Do you want to give the possibility to a renter to cancel the reservation?</label>

                        &nbsp;&nbsp;&nbsp;<mat-slide-toggle
                        [(ngModel)]="newOffer.enableCancelation"
                        #enableCancelation="ngModel"
                        color = 'primary'
                        checked = "false"
                        name="enableCancelation"> {{newOffer.enableCancelation ? 'Yes': 'No'}}</mat-slide-toggle>

                      <div *ngIf = "newOffer.enableCancelation">
                        <br>
                      <label  style="color: #044459">Select the maximum limit to cancel a booking for a renter: <label style="color:red">* </label></label>
                        <div class="form-group" style="width: 250px;">
                          <div class="input-group input-group-xl">
                            <div class="input-group mb-3">
                              <select class="form-select" required
                              #maximumWithdrawal="ngModel"
                              name="maximumWithdrawal"
                              [(ngModel)]="newOffer.maximumWithdrawal"
                              [ngClass]="{'is-invalid': newOffer.maximumWithdrawal=='' || (!maximumWithdrawal.valid && maximumWithdrawal.touched)}"
                              [ngClass]="{'is-valid': maximumWithdrawal.valid}"
                              >
                                <option selected value="Choose...">Choose...</option>
                                <option value="1 hour">1 hour</option>
                                <option value="2 hours">2 hours</option>
                                <option value="6 hours">6 hours</option>
                                <option value="12 hours">12 hours</option>
                                <option value="1 day">1 day</option>
                                <option value="2 days">2 days</option>
                                <option value="3 days">3 days</option>
                                <option value="5 days">5 days</option>
                                <option value="10 days">10 days</option>

                              </select>
                              <div class="invalid-feedback" [hidden]="!maximumWithdrawal.errors?.required">
                                <i class="fas fa-exclamation-circle" style="color: rgb(210, 6, 6);"></i>
                                Maximum withdrawal is required
                              </div>
                              <div class="valid-feedback">
                                <i class="fas fa-check" style="color: rgb(34, 201, 34);"></i>
                                Ok!
                              </div>
                            </div>



                          </div>
                      </div>
                    </div>
                  </div>
                      <!--  FINE DATA RECESSO-->
                      <br><br>
                      <label style="color: rgb(99, 99, 99);" > <label style="color:red">*</label> : Mandatory Fields</label>
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-dark" style="border-radius: 1.5rem;" (click)="addMenu = false">Cancel</button> &nbsp;
                          <button class="btn btn-primary" style="border-radius: 1.5rem;" type="submit" [disabled]="!offerForm.form.valid || isInvalid() ">Add Offer</button>

                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-12 col-md-3 mb-3">


        </div>
      </div>

    </div>
  </div>
  </div>
  </div>
    <div class="row" style="width: 1200px;">
        <div class="col-lg-12" >
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th class="text-center"><span>#</span></th>
                                <th class="text-center" ><span>Vector</span></th>
                                <th class="text-center"><span>Vector brand</span></th>
                                <th class="text-center"><span>License Plate</span></th>
                                <th class="text-center"><span>Trip Status</span></th>
                                <th class="text-center">Occupied Capacity</th>
                                <th class="text-center"><span>Start Warehouse</span></th>
                                <th class="text-center"><span>End Warehouse</span></th>
                                <th class="text-center"><span>Trip Lenght</span></th>
                                <th class="text-center"><span>Cost $/Km</span></th>
                                <th class="text-center"><span>Trip Starting Time</span></th>
                                <th class="text-center"><span>Trip Ending Time</span></th>
                                <th class="text-center"><span>Maximum withdrawal time</span></th>
                                <th class="text-center"><span>Action</span></th>

                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor=" let offer of offers; let myIndex = index">
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) )" ><mat-card style="border-radius: 3.5rem;color: rgb(76, 157, 218);"><strong>{{myIndex + 1}}</strong></mat-card></td>
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) )">{{offer.vectorType}}</td>
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) )">{{offer.vectorBrand}}</td>
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) ) ">{{offer.licensePlate}}</td>
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) )">
                                    <span class="badge badge-success m-0" *ngIf="offer.available && offer.occupiedCapacity < 100 && !offer.lastDay">available</span>
                                    <span class="badge badge-danger m-0" *ngIf="!offer.available">expired</span>
                                    <span class="badge badge-warning m-0" *ngIf="offer.available && offer.lastDay">Hurry up!</span>

                                </td>
                                  <td class="p-progress" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) )">
                                      <div class="progress progress-xs">
                                          <div
                                          [style.background]="(offer.occupiedCapacity < 70) ? 'rgb(0, 233, 0)' : ( (offer.occupiedCapacity >= 70 && offer.occupiedCapacity <90)? 'rgb(255, 183, 1)':'red')"

                                          style="width:{{offer.occupiedCapacity}}%" class="progress-bar progress-bar-success"></div>
                                      </div>
                                      <small style="font-size: 9px;">{{offer.occupiedCapacity}}% Occupied </small>
                                  </td>

                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) )">{{offer.startingCity}}</td>
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) ) ">{{offer.endingCity}}</td>
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) )">{{offer.length}} Km</td>
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) )">{{offer.costoPerKm}} $</td>
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) )">{{offer.startingDate | date : "dd/MM/YYYY HH:mm"}}</td>
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) )">{{offer.endingDate | date : "dd/MM/YYYY HH:mm"}}</td>
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) ) && offer.maximumWithdrawal">{{offer.maximumWithdrawal}}</td>
                                  <td class="text-center" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) ) && !offer.maximumWithdrawal"><mat-icon style="color: red;">close</mat-icon>
                                  </td>

                                    <td  class="text-center" style="width: 20%" *ngIf="myIndex >= ((10*myIndex%10) +10*selectedPaginations) && myIndex < ((10*myIndex%10) + 10*(selectedPaginations + 1) ) ">
                                        <a onmouseover="" style="cursor: pointer;" class="table-link text-warning" (click)="this.openModal(offer.viaggioId); ">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>

                                        <a onmouseover="" style="cursor: pointer;" class="table-link danger" (click)="deleteViaggio(offer)">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example" style="display: flex;justify-content:center ">
                          <ul class="pagination">
                            <li class="page-item"><a class="page-link text-primary" (click)="selectPrevious()">Previous</a></li>
                            <div *ngFor="let item of offers; let myIndex = index">
                              <li class="page-item" (click)="selectPage(myIndex/10)" *ngIf="(myIndex % 10 == 0);" ><a class="page-link text-primary"
                                [style.background-color]="selectedPaginations ==  myIndex/10 ? 'lightblue' : 'white'"
                                >{{paginations + 1 + myIndex/10}}</a></li>
                            </div>

                            <li class="page-item text-primary" (click)="selectNext()"><a class="page-link" >Next</a></li>
                          </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</div>


